.abc{
    /* background-color: lightgreen; */
    border: 1px solid orangered;
    height: 320px;
    display: flex;
    width: 93%;
    padding-top: 20px;
    margin: auto;
    gap: 20px;
    
}

.main{
    padding: 20px 0px 20px 30px ;
}
.main>H1{
    font-size: 25px;
    font-weight: 400;
    padding-bottom: 10px;
}
.blanck{

    height: 350px;
    background-color: #efefef;
    /* border: 1px solid black; */
    width: 91%;
    padding: auto;
    margin: auto;
    padding-top: 7%;

}
.logos{
    /* border: 1px solid green; */
    width: 50%;
    margin: auto;
    text-align: center;
    padding-top: 30px
}
.imga{
    /* border: 1px solid black; */
    width: 40%;
    margin:auto
}
.sel{
    margin-bottom: 10px;
    
}

.dleft
{
    padding-left: 20px;
}
.rpay
{
    padding-right: 20px;
}
.bcancel
{
   
   margin-left: 20px;
}
.header
{
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    background-color: #c5d3da;
    height: 30px;
    padding: 2px 15px 2px 15px;
    width: 92%;
    margin: auto;
}
.tables{
    display: flex;
    /* border: 1px solid black; */
    width: 92%;
    margin: auto;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    justify-content: space-between;
    background-color:  #fff1cd;
    height: 50px;
    padding: 8px 15px 6px 15px;
}

.tab1{
  display: flex;
}
.tabe{
    padding-left: 20px;
}

.tabea
{
margin-left: 20px;
padding-top: -5px;
color: black;
height: 2px;
margin-top: -4px;
}